 .logo{
  width: 200px;
  img{
    width: calc(1em + 75%);
    object-fit: cover;
  }
 }
  
  .nav ul {
    list-style-type: none;
  }
  
  .nav-links{
    text-decoration: none;
    display: flex;
    align-items: center;
  } 

  .nav li a {
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-icon {
    margin-right: 2px;
    width: calc(2em + 0%);
    display: block;
  }
  
  .nav-text {
    display: inline-block;
  }
  
  .nav a:hover {
    color: #0056b3;
  }
  
  .btn-reserva {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-reserva:hover {
    background-color: #01244b; 
  }
  
  .btn-inicia-sesion {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    text-align: center;
  }
  
  .btn-inicia-sesion:hover {
    background-color: #01244b;
  }
  
  
  @media (max-width: 960px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header .logo img {
      max-width: 250px;
    }
  
    .nav ul {
      flex-direction: row; 
      gap: 10px;
      justify-content: center;
    }
  
    .nav .nav-text {
      display: none; 
    }
  
    .nav .nav-icon {
      font-size: 30px;  
    }
  
    .btn-reserva {
      margin-top: 15px;
    }
  
    .btn-inicia-sesion{
      margin-top: 15px;
    }
  }