
/* Botón de búsqueda */
.reserva-bar-button button{
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserva-bar-button button:hover {
    background-color: #0056b3;
}

.input-group{
    height: 55px;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;    
}


.input-group-append{
    height: 50px;
        svg{
     color: #000;
    }
}