.admin-layout {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.admin-layout .content {
    flex-grow: 1;
    margin-left: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-layout .content .footer {
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .admin-layout .content {
        margin-left: 0px;
    }

    .admin-layout .content footer {
        margin: 20px;
    }
}